<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <mat-card>

                <button class="btn btn-default" (click)="showSuccess()">Toastr Tester</button>
                <table class="table">
                    <tr *ngFor="let patients of patients">
                        <td><i class="material-icons">edit</i></td>
                        <td>
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td>{{patients.patnm}}</td>
                        <td>{{patients.mobile1}}</td>
                        <td>{{patients.gender}}</td>
                        <td><i class="material-icons">delete</i></td>
                    </tr>

                </table>
            </mat-card>
        </div>
    </div>
</section>